.project-container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

nav{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;

}

nav a{
    text-decoration: none;
    color: orange;
}

nav a:hover{
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

input{
    padding: 8px;
    border-radius: 4px;
    border: 1pt solid #ccc;
    width: 250px;
}

button{
    padding: 8px 15px;
    border: none;
    background: rgb(32, 32, 100);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background: rgb(66, 66, 222);
}

.contact-box{
    border: 1px solid rgb(28, 28, 28);
    border-radius: 6px;
    padding: 15px;
    background-color: #302727;
    width: 200px;
    margin: 0 auto  ;
}